<h2>シフト作成アプリ TOPページ</h2>

<br>
<%= link_to "まずは無料登録から", new_user_registration_path %>
<br>
<%= link_to "アカウントをお持ちの方はコチラ！", new_user_registration_path %>
<br>
<%= link_to "ゲストログイン(一般)", users_guest_sing_in_path, method: :post %>
<br>
<%= link_to "ゲストログイン(管理者)", users_admin_guest_sing_in_path, method: :post %>
<br>
