/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body {
  margin: 0px auto;
  max-width: 1150px;
  height: 800px;
}

body #form_size {
  margin: 0px auto;
  max-width: 1150px;
  min-height: 600px;
}

div{
  background-color: #f7ffff;
}

header, footer {
  background-color: #9fe0ff;
}

header {
  margin-top: 15px;
  height: 70px;
  width: 100%;
}

header h1, header a {
  margin: 0px 0px 0px 15px;
  line-height: 70px;
  color: #444;
  text-decoration: none;
}

table, div div, h2, h3, h4 {
  margin-left: 25px;
}

.info_btn a {
  margin-right: 5px;
  padding: 5px 10px;
}

div .info_btn {
  text-align: right;
  padding: 5px 10px;
}

div div a, div a, div p {
  margin: auto 20px;
}

.destroy-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f15d5d;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.destroy-button:hover {
  background-color: #f15d5d70;
  color: #444;
}

.owner-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #92ec5d;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.owner-button:hover {
  background-color: #92ec5d70;
  color: #444;
}

.leave-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #bec2bc;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.leave-button:hover {
  background-color: #bec2bc70;
  color: #444;
}

.info-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #2ea3f1;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.info-button:hover {
  background-color: #2ea3f170;
  color: #444;
}

/* .days {
  padding: 0px 2px;
} */

footer {
  height: 50px;
  text-align: center;
}

footer a {
  color: #444;
  text-decoration: none;
}